#map {
    height: 900px;
    width: 100%;
}

h2, h3 {
    text-align: center;
}

.nav{
    max-height: 200px;
    /*overflow-y:auto; */
    font-size: 1em;
    overflow-x: scroll;
}

#exo{
    font-family: 'Exo 2', sans-serif;

}

#WalterTurncoat{
    font-family: 'Walter Turncoat', cursive;
}

p{
    font-size: 1em;
}

html { 
    height: 100% 
    }
      
body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
    }

    img{
        width: 340px;
        height: auto;
    }

    #wrapper { position: relative; }
   #over_map { position: absolute; top: 5px; right: 45px; z-index: 99; border-color:red;     border-style: solid;
    border-width: 4px; }

    select {
    width: 100%;
    max-width: 50px;
}