#map {
    height: 700px;
    width: 100%;
}

h2, h3 {
    text-align: center;
}

.nav{
    max-height: 110px;
    /*overflow-y:auto; */
    font-size: 1em;
    overflow-y: scroll;
}

#exo{
    font-family: 'Exo 2', sans-serif;

}

#WalterTurncoat{
    font-family: 'Walter Turncoat', cursive;
}

p{
    font-size: 1.4em;
}

html { 
    height: 100% 
    }
      
body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
    }